__pycache__/
*.csv
*.pt
*.pyc
*.pyo
*.pyd
*.so
*.dylib
.env
.venv
.envrc
build/
dist/
.poetry/
.eggs/
*.egg-info/
.DS_Store
.vscode/
.idea/
.experiments/
experiments/exports/
experiments/logs/*
data/
!data/.gitkeep
artifacts/
outputs/
logs/
notebooks/.ipynb_checkpoints/
